node_modules/
cypress/
/*/.DS_Store
.DS_Store
App/dist/favicon.png
App/dist/index.html
App/dist/manifest.json
App/dist/assets/index-CfVCjb9B.js
App/dist/assets/index-CoJhSrrT.css
App/dist/assets/index-legacy-D9Fow5cQ.js
App/dist/assets/index9-C2jAqrT_.js
App/dist/assets/index9-legacy-DaBa0SZL.js
App/dist/assets/input-shims-DWRoQgEB.js
App/dist/assets/input-shims-legacy-D7SY78vA.js
App/dist/assets/ios.transition-DcV84WIs.js
App/dist/assets/ios.transition-legacy-Ct7WVrbC.js
App/dist/assets/md.transition-DmPRaH1T.js
App/dist/assets/md.transition-legacy-D9G0mUoG.js
App/dist/assets/polyfills-legacy-CI9D8Hkl.js
App/dist/assets/status-tap-legacy-DsMbplxV.js
App/dist/assets/status-tap-NtmaUFlC.js
App/dist/assets/swipe-back-Dd4infpb.js
App/dist/assets/swipe-back-legacy-BHMFlpv2.js
App/android/.gitignore
App/android/build.gradle
App/android/capacitor.settings.gradle
App/android/gradle.properties
App/android/gradlew
App/android/gradlew.bat
App/android/settings.gradle
App/android/variables.gradle
App/android/.idea/.gitignore
App/android/app/.gitignore
App/android/app/build.gradle
App/android/app/capacitor.build.gradle
App/android/app/proguard-rules.pro
App/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
App/android/app/src/main/AndroidManifest.xml
App/android/app/src/main/java/io/ionic/starter/MainActivity.java
App/android/app/src/main/res/drawable/ic_launcher_background.xml
App/android/app/src/main/res/drawable/splash.png
App/android/app/src/main/res/drawable-land-hdpi/splash.png
App/android/app/src/main/res/drawable-land-mdpi/splash.png
App/android/app/src/main/res/drawable-land-xhdpi/splash.png
App/android/app/src/main/res/drawable-land-xxhdpi/splash.png
App/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
App/android/app/src/main/res/drawable-port-hdpi/splash.png
App/android/app/src/main/res/drawable-port-mdpi/splash.png
App/android/app/src/main/res/drawable-port-xhdpi/splash.png
App/android/app/src/main/res/drawable-port-xxhdpi/splash.png
App/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
App/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
App/android/app/src/main/res/layout/activity_main.xml
App/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
App/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
App/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
App/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
App/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
App/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
App/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
App/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
App/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
App/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
App/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
App/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
App/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
App/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
App/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
App/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
App/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
App/android/app/src/main/res/values/ic_launcher_background.xml
App/android/app/src/main/res/values/strings.xml
App/android/app/src/main/res/values/styles.xml
App/android/app/src/main/res/xml/file_paths.xml
App/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
App/android/gradle/wrapper/gradle-wrapper.jar
App/android/gradle/wrapper/gradle-wrapper.properties
