.centerNumbers {
    margin: 0 auto;
    text-align: center;
    font-size: 7em;
}
.TimeUpMessage {
    margin: 0 auto;
    text-align: center;
    font-size: 5em;
}

.buttonsTimer {
    --border-radius: 12px !important;
}